*{
    margin: 0;
    padding: 0;
}





.cabecalho{
background-color: #383D58;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0%;


}

.lista-item{
   display: inline-block;
   padding: 23px;
   font-size: 23px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;


}



.titulo-um{
   color: #ffffff;
}
 
.titulo-dois{
    color: #ffffff;
}








.primeira-parte{
   background-image:linear-gradient(#383D58,#4ebfe9);
   color: #ffffff




}