@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
   font-family: "Poppins"
}

.cabecalho{
background-color: #383D58;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0%;


}

.lista-item{
   display: inline-block;
   padding: 23px;
   font-size: 23px;
   


}



.titulo-um{
   color: #ffffff;
}
 
.titulo-dois{
    color: #ffffff;
}

.foto-estudante{
   width: 35%;
}

.logo-twitter{
   width: 30px;
padding: 4px 8px;
}


.logo-github{
   width: 30px;
padding: 4px 8px;
}
.estudante-particular{
   max-width: 600px;
   width: 100%;
}
.logo-instagram{
   width: 30px;
padding: 4px 8px;
}



.icone{
   width: 15%;
}


.primeira-parte{
   background-image:linear-gradient(#383D58,#4ebfe9);
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px;
}



.estudante-geral{
display: grid;
grid-template-columns: 25% 25% 25% 25% 25%;
}


.rodape{
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;

}

.logo{
   width: 10%;
}

a:hover{
color: chartreuse;

}

a{
color: white;
text-decoration: none;
}






